{% load static %}
<!DOCTYPE html>
<headerhtml lang="en">
	<head>
	<meta charset="UTF-8" />
	<title>Mini Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'base/reset.min.css' %}" />
	<link rel="stylesheet" href="{% static 'base/style.css' %}" />
	<link rel="stylesheet" href="{% static 'base/header.css' %}" />
	</head>
	<headerbody>
	<!-- Header Start -->
	<header class="headersite-header">
		<div class="headerwrapper headersite-header__wrapper">
		<a href="/" class="headerbrand">Mini Twitter</a>
		<ul class="headernav__wrapper">
			<li class="headernav__item"><a href="/">Home</a></li>
			{% if user.is_authenticated %}
				<li class="headernav__item"><a href="/search">Search</a></li>
				<li class="headernav__item"><a href="/accounts/profile">Profile</a></li>
				<li class="headernav__item"><a href="/accounts/logout">Logout</a></li>
			{% else %}
				<li class="headernav__item"><a href="/accounts/register">Register</a></li>
				<li class="headernav__item"><a href="/accounts/login">Login</a></li>
			{% endif %}
		</ul>
		</div>
	</header>
	<!-- Header End -->
	</headerbody>
</headerhtml>

{% block content %}

{% endblock content %}
