{% include "base.html" %}
{% load static %}
{% block content %}

<link href="{% static 'accounts/main.css' %}" rel="stylesheet" media="all">

<div class="page-wrapper p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                {% for message in messages %}
                    <h2 class="title">{{message}}</h2>
                {% endfor %}
                <h2 class="title">Search User</h2>
                <form action="/search/" method="POST">
                {% csrf_token %}
                    {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <div class="input-group">
                        <input class="input--style-4" type="text" name="username" required>
                    </div>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}