@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.headerwrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}*/

headerhtml {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

headerbody {
  font-family: "Roboto", sans-serif;
}
